*.iml
.gradle/
.idea/
/local.properties
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Archivos de compilación
*.apk
*.aab
*.dex
*.jar
*.so
*.o
*.obj
*.class
*.keystore

# Archivos de configuración del entorno
/.vscode/
*.log

# Archivos temporales de Gradle
/.gradle/

# Evitar archivos de configuración de Git
/.git/
